{% extends "base.html" %}

{% block title %}SERPAPI Search Results{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Google Search</h1>
    <form method="get" class="mb-5">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="query">Query</label>
                <input type="text" name="query" class="form-control" id="query" value="{{ query|default:"" }}" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="country">Country</label>
                <input type="text" name="country" class="form-control" id="country" value="{{ country|default:"United States" }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="state">State</label>
                <input type="text" name="state" class="form-control" id="state" value="{{ state|default:"" }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" id="city" value="{{ city|default:"" }}">
            </div>
        </div>
        <div class="form-group">
            <label for="limit">Amount</label>
            <select name="limit" id="limit">
              <option value="15" {% if limit == 15 %} selected="selected" {% endif %}>15</option>
              <option value="25" {% if limit == 25 %} selected="selected" {% endif %}>25</option>
              <option value="50" {% if limit == 50 %} selected="selected" {% endif %}>50</option>
              <option value="75" {% if limit == 75 %} selected="selected" {% endif %}>75</option>
              <option value="100" {% if limit == 100 %} selected="selected" {% endif %}>100</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if search_results is not None %}
        <h2 class="mb-4">Results <button onclick="ExportCSV('export', exportData);" class="btn btn-primary">Export</button> </h2>
        <div class="list-group">
            {% for result in search_results %}
                <div class="list-group-item">
                    <h5 class="mb-1">{{ result.title }}</h5>
                    <p class="mb-1">{{ result.address }}</p>
                    <p class="mb-1">Phone: <a href="tel:{{ result.phone }}">{{ result.phone }}</a></p>

                    {% if result.website %}
                    <p class="mb-1">Website: <a href="{{ result.website }}" target="_blank">{{ result.website }}</a></p>
                    {% else %}
                    <p class="mb-1">Website:</p>
                    {% endif %}
                    <small>{{ result.type }} - {{ result.rating }} stars ({{ result.reviews }} reviews)</small>
                </div>

            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
    const exportData = {{ export_data|safe }}
{% endblock %}
