{% extends "base.html" %}

{% block title %}SERPAPI Search Results{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Google Search</h1>
    <form method="get" class="mb-5">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="query">Query</label>
                <input type="text" name="query" class="form-control" id="query" value="{{ query|default:"" }}" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="country">Country</label>
                <input type="text" name="country" class="form-control" id="country" value="{{ country|default:"United States" }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="state">State</label>
                <input type="text" name="state" class="form-control" id="state" value="{{ state|default:"" }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" id="city" value="{{ city|default:"" }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search Again</button>
    </form>
{#    <form action="{{ url_for('export_google_search') }}" method="get" class="mb-5">#}
{#        <input type="hidden" name="query" value="{{ query }}">#}
{#        <input type="hidden" name="country" value="{{ country or 'United States' }}">#}
{#        <input type="hidden" name="state" value="{{ state }}">#}
{#        <input type="hidden" name="city" value="{{ city }}">#}
{#        <button type="submit" class="btn btn-secondary">Export Results</button>#}
{#    </form>#}

    {% if search_results is not None %}
        <h2 class="mb-4">Results</h2>
        <div class="list-group">
            {% for result in search_results %}
                <div class="list-group-item">
                    <h5 class="mb-1">{{ result.title }}</h5>
                    <p class="mb-1">{{ result.address }}</p>
                    <p class="mb-1">Phone: <a href="tel:{{ result.phone }}">{{ result.phone }}</a></p>

                    {% if result.website %}
                    <p class="mb-1">Website: <a href="{{ result.website }}" target="_blank">{{ result.website }}</a></p>
                    {% else %}
                    <p class="mb-1">Website:</p>
                    {% endif %}
                    <small>{{ result.type }} - {{ result.rating }} stars ({{ result.reviews }} reviews)</small>
                </div>

            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
