{% extends "base.html" %}

{% block title %}SERPAPI Search Results{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Google Search</h1>
    <div class="mb-5">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="query">Query</label>
                <input type="text" name="query" class="form-control" id="query" value="{{ query|default:"" }}" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="country">Country</label>
                <input type="text" name="country" class="form-control" id="country" value="{{ country|default:"United States" }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="state">State</label>
                <input type="text" name="state" class="form-control" id="state" value="{{ state|default:"" }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" id="city" value="{{ city|default:"" }}">
            </div>
        </div>
        <button onclick="freshFetch();" class="btn btn-primary">Search</button>
    </div>

    <h2 class="mb-4">Results <button onclick="ExportData();" class="btn btn-primary">Export</button> </h2>
    <div class="list-group" id="results-container" style="margin-bottom: 32px;">
    </div>
</div>
{% endblock %}

{% block end_of_body %}
    <script>
        const queryInput = document.querySelector("#query");
        const countryInput = document.querySelector("#country");
        const stateInput = document.querySelector("#state");
        const cityInput = document.querySelector("#city");
        const resultsContainer = document.querySelector("#results-container");
        let results = [];
        let pageId = null;
        let searchIndex = 1;
        let fetchingNextPage = false;
        window.addEventListener("scroll", function (params) {
            if (window.scrollY > (document.body.scrollHeight - window.innerHeight) * 0.8) {
                fetchNext();
            }
        });

        function ExportData() {
            const data = [['Title', 'Address', 'Phone', 'Website', 'Type', 'Rating', 'Reviews']]
            for (let i = 0; i < results.length; i++) {
                const r = results[i];
                data.push([r['title'], r['address'], r['phone'], r['website'], r['type'], r['rating'], r['reviews']])
            }
            ExportCSV('export', data);
        }
        async function freshFetch() {
            searchIndex = searchIndex + 1;
            const fetchIndex = searchIndex;
            results = [];
            resultsContainer.innerHTML = "";
            fetchingNextPage = false;
            pageId = null;
            const url = new URL(window.location)
            url.searchParams.set("query", queryInput.value)
            url.searchParams.set("city", cityInput.value)
            url.searchParams.set("state", stateInput.value)
            url.searchParams.set("country", countryInput.value)
            history.replaceState(null, '', url);
            const requestResults = await LoadLocalGoogleSearch(queryInput.value, cityInput.value, stateInput.value, countryInput.value, pageId);
            if (fetchIndex !== searchIndex) {
                return;
            }

            pageId = requestResults.next;
            for (let i = 0; i < requestResults.results.length; i++) {
                const r = requestResults.results[i];
                results.push(r);
                addNewResult(r);
            }
        }

        async function fetchNext() {
            if (results.length === 0 || pageId === null || fetchingNextPage) {
                return;
            }
            fetchingNextPage = true;
            searchIndex = searchIndex + 1;
            const fetchIndex = searchIndex;


            const requestResults = await LoadLocalGoogleSearch(queryInput.value, cityInput.value, stateInput.value, countryInput.value, pageId);
            if (fetchIndex !== searchIndex) {
                return;
            }

            pageId = requestResults.next;
            for (let i = 0; i < requestResults.results.length; i++) {
                const r = requestResults.results[i];
                results.push(r);
                addNewResult(r);
            }
            fetchingNextPage = false;
        }


        function addNewResult(result) {
            let phoneHtml = `<p class="mb-1">Phone:</p>`
            if (result.phone) {
                phoneHtml = `<p class="mb-1">Phone: <a href="tel:${result.phone}">${result.phone}</a></p>`
            }
            let websiteHtml = `<p class="mb-1">Website:</p>`
            if (result.website) {
                websiteHtml = `<p class="mb-1">Website: <a href="${result.website}" target="_blank">${result.website}</a></p>`
            }
            const html = `<h5 class="mb-1">${result.title}</h5>
                        <p class="mb-1">${result.address}</p>
                        ${phoneHtml}
                        ${websiteHtml}
                        <small>${result.type} - ${result.rating} stars (${result.reviews} reviews)</small>`;

            const div = document.createElement('div');
            div.classList.add("list-group-item")
            div.innerHTML = html.trim();
            resultsContainer.appendChild(div);
        }

        const loadUrl = new URL(window.location)
        if (loadUrl.searchParams.get("query") && loadUrl.searchParams.get("query").length > 0) {
            freshFetch();
        }
    </script>
{% endblock %}
