{% extends "base.html" %}

{% block title %}YouTube Search Results{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">YouTube Search</h1>
    <div class="mb-5">
        <div class="form-group">
            <label for="query">Query</label>
            <input type="text" name="query" class="form-control" id="query" value="{{ query|default:"" }}">
        </div>
        <button onclick="freshFetch()" class="btn btn-primary">Search</button>
    </div>

    <div class="list-group">
        <h2 class="mb-4">Results <button onclick="ExportData();" class="btn btn-primary">Export</button> </h2>
        <div class="list-group" id="results-container" style="margin-bottom: 32px;">
        </div>
    </div>
</div>
{% endblock %}


{% block end_of_body %}
    <script>
        const queryInput = document.querySelector("#query");
        const resultsContainer = document.querySelector("#results-container");
        let results = [];
        let pageId = null;
        let searchIndex = 1;
        let fetchingNextPage = false;
        window.addEventListener("scroll", function (params) {
            if (window.scrollY > (document.body.scrollHeight - window.innerHeight) * 0.8) {
                fetchNext();
            }
        });

        function ExportData() {
            const data = [['Title', 'Link', 'Description', 'Thumbnail']]
            for (let i = 0; i < results.length; i++) {
                const r = results[i];
                data.push([r['title'], r['link'], r['description'], r['thumbnail']])
            }
            console.log(data);
            ExportCSV('export', data);
        }
        async function freshFetch() {
            searchIndex = searchIndex + 1;
            const fetchIndex = searchIndex;
            results = [];
            resultsContainer.innerHTML = "";
            fetchingNextPage = false;
            pageId = null;
            const url = new URL(window.location)
            url.searchParams.set("query", queryInput.value)
            history.replaceState(null, '', url);
            const requestResults = await LoadLocalYoutubeSearch(queryInput.value, pageId);
            if (fetchIndex !== searchIndex) {
                return;
            }

            pageId = requestResults.next;
            for (let i = 0; i < requestResults.results.length; i++) {
                const r = requestResults.results[i];
                results.push(r);
                addNewResult(r);
            }
        }

        async function fetchNext() {
            if (results.length === 0 || pageId === null || fetchingNextPage) {
                return;
            }
            fetchingNextPage = true;
            searchIndex = searchIndex + 1;
            const fetchIndex = searchIndex;
            const requestResults = await LoadLocalYoutubeSearch(queryInput.value, pageId);
            if (fetchIndex !== searchIndex) {
                return;
            }

            pageId = requestResults.next;
            for (let i = 0; i < requestResults.results.length; i++) {
                const r = requestResults.results[i];
                results.push(r);
                addNewResult(r);
            }
            fetchingNextPage = false;
        }


        function addNewResult(result) {
            let imageHtml = ``
            if (result.thumbnail) {
                imageHtml = `<img src="${result.thumbnail}" alt="${result.title ?? ""}">`
            }
            const html = `<h5 class="mb-1">${result.title ?? ""}</h5>
                    <p class="mb-1">${result.description ?? ""}</p>
                    <p class="mb-1">Link: <a href="${result.link ?? ""}" target="_blank">${result.link ?? ""}</a></p>
                    ${imageHtml}`;

            const div = document.createElement('div');
            div.classList.add("list-group-item")
            div.innerHTML = html.trim();
            resultsContainer.appendChild(div);
        }

        const loadUrl = new URL(window.location)
        if (loadUrl.searchParams.get("query") && loadUrl.searchParams.get("query").length > 0) {
            freshFetch();
        }
    </script>
{% endblock %}
